# 使用 npmmirror 镜像加速 npm 依赖安装
registry=https://registry.npmmirror.com

# Electron 及 electron-builder 二进制下载镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
